
*.pyc
.ipynb_checkpoints/index-checkpoint.ipynb
.ipynb_checkpoints/eclipsingbinarylab-checkpoint.ipynb
.ipynb_checkpoints/test-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/ages-checkpoint.ipynb
